In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_IOC_country_codes"

In [3]:
tabellen = pd.read_html(url, storage_options={'User-Agent': 'Mozilla/5.0'})

print(f"Gefundene Tabellen: {len(tabellen)}")

Gefundene Tabellen: 13

In [4]:
df = tabellen[0]

In [5]:
df.head()

,Code,National Olympic Committee,Other codes used,Link
0,AFG,Afghanistan,NaN,[1]
1,ALB,Albania,NaN,[2]
2,ALG,Algeria,AGR (1964)AGL (1968 S) from Spanish Argelia,[3]
3,AND,Andorra,NaN,[4]
4,ANG,Angola,ANO (as referenced in IAAF World Championships...,[5]

In [8]:
df.to_csv("ioc_country_codes.csv")