In [24]:
import pandas as pd

In [25]:
url = "https://www.sportschau.de/live-und-ergebnisse/olympia-2026-mailand-cortina/medaillenspiegel"

tabellen = pd.read_html(url)

print(f"Gefundene Tabellen: {len(tabellen)}")

# es gibt nur eine Tabelle, daher:
df = tabellen[0]

Gefundene Tabellen: 1

In [26]:
df.head(10)

   Unnamed: 0  Unnamed: 1         Land  Gold  Silber  Bronze  Ges
0         1.0         NaN     Norwegen    15       8      10   33
1         2.0         NaN      Italien     9       5      12   26
2         3.0         NaN          USA     7      11       6   24
3         4.0         NaN   Frankreich     6       7       4   17
4         5.0         NaN  Niederlande     6       7       2   15
5         6.0         NaN     Schweden     6       6       3   15
6         7.0         NaN  Deutschland     5       8       8   21
7         8.0         NaN   Österreich     5       8       4   17
8         9.0         NaN        Japan     5       6      12   23
9        10.0         NaN      Schweiz     5       4       3   12

In [27]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Land', 'Gold', 'Silber', 'Bronze', 'Ges'], dtype='str')

In [28]:
df = df.drop(["Unnamed: 1"], axis=1)

In [29]:
df = df.rename(columns={"Unnamed: 0": "Rank", "Ges": "Gesamt"})

In [30]:
df.columns

Index(['Rank', 'Land', 'Gold', 'Silber', 'Bronze', 'Gesamt'], dtype='str')

In [31]:
df.head(10)

   Rank         Land  Gold  Silber  Bronze  Gesamt
0   1.0     Norwegen    15       8      10      33
1   2.0      Italien     9       5      12      26
2   3.0          USA     7      11       6      24
3   4.0   Frankreich     6       7       4      17
4   5.0  Niederlande     6       7       2      15
5   6.0     Schweden     6       6       3      15
6   7.0  Deutschland     5       8       8      21
7   8.0   Österreich     5       8       4      17
8   9.0        Japan     5       6      12      23
9  10.0      Schweiz     5       4       3      12

In [32]:
# df = df.astype({"Rank": "int32"})
# Das scheitert an der Fortsetzung eines Platzes bei Gleichstand
# Replace NaN ... ?

In [33]:
df.to_csv("medaillenspiege.csv", index=None)

In [34]:
# df["Rank"]