In [4]:
import pandas as pd

In [5]:
url = "https://www.sportschau.de/live-und-ergebnisse/olympia-2026-mailand-cortina/medaillenspiegel"

tabellen = pd.read_html(url)

print(f"Gefundene Tabellen: {len(tabellen)}")

# es gibt nur eine Tabelle, daher:
df = tabellen[0]

Gefundene Tabellen: 1

In [6]:
df.head(20)

    Unnamed: 0  Unnamed: 1            Land  Gold  Silber  Bronze  Ges
0          1.0         NaN        Norwegen    18      12      11   41
1          2.0         NaN             USA    11      12       9   32
2          3.0         NaN     Niederlande    10       7       3   20
3          4.0         NaN         Italien    10       6      14   30
4          5.0         NaN     Deutschland     8      10       8   26
5          6.0         NaN      Frankreich     8       9       6   23
6          7.0         NaN        Schweden     8       6       4   18
7          8.0         NaN         Schweiz     6       9       8   23
8          9.0         NaN      Österreich     5       8       5   18
9         10.0         NaN           Japan     5       7      12   24
10        11.0         NaN          Kanada     5       6       9   20
11        12.0         NaN           China     5       4       6   15
12        13.0         NaN        Südkorea     3       4       3   10
13        14.0         NaN      Australien     3       2       1    6
14        15.0         NaN  Großbritannien     3       1       1    5
15        16.0         NaN      Tschechien     2       2       1    5
16        17.0         NaN       Slowenien     2       1       1    4
17        18.0         NaN         Spanien     1       0       2    3
18        19.0         NaN       Brasilien     1       0       0    1
19         NaN         NaN      Kasachstan     1       0       0    1

In [7]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Land', 'Gold', 'Silber', 'Bronze', 'Ges'], dtype='str')

In [8]:
df = df.drop(["Unnamed: 1"], axis=1)

In [9]:
df = df.rename(columns={"Unnamed: 0": "Rank", "Ges": "Gesamt"})

In [10]:
df.columns

Index(['Rank', 'Land', 'Gold', 'Silber', 'Bronze', 'Gesamt'], dtype='str')

In [11]:
df.head(10)

   Rank         Land  Gold  Silber  Bronze  Gesamt
0   1.0     Norwegen    18      12      11      41
1   2.0          USA    11      12       9      32
2   3.0  Niederlande    10       7       3      20
3   4.0      Italien    10       6      14      30
4   5.0  Deutschland     8      10       8      26
5   6.0   Frankreich     8       9       6      23
6   7.0     Schweden     8       6       4      18
7   8.0      Schweiz     6       9       8      23
8   9.0   Österreich     5       8       5      18
9  10.0        Japan     5       7      12      24

In [12]:
# df = df.astype({"Rank": "int32"})
# Das scheitert an der Fortsetzung eines Platzes bei Gleichstand
# Replace NaN ... ?

In [13]:
df.to_csv("medaillenspiege.csv", index=None)

In [14]:
# df["Rank"]